// responsive.scss

@media screen and (min-width: 50em) {
  html {
    font-size: 2vw;
  }

  header {
    .title {
      font-size: 3rem;
    }
  }

  .button-container {
    width: 100%;
  }

  .show-container {
    width: 100%;
  }
}

@media screen and (min-width: 75em) {
  html {
    font-size: 1.5em;
  }
}
