// responsive.scss

@media screen and (min-width: 50em) {
  html {
    font-size: 2vw;
  }
  header {
    .title {
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: 75em) {
  html {
    font-size: 1.5em;
  }
}
