// variables.scss

///////////////////////////
// font colors
$white: #fff;
$lightGray: #D3D0CB;
$blackOlive: #393e41;
$blueSapphire: #19647E;
$richBlack: #06070E;

///////////////////////////
// fonts
$francois: 'Francois One', sans-serif;
$amaranth: 'Amaranth', sans-serif;

///////////////////////////
// Animations
$ease: .3s ease-in-out;
